<!--
Trivial: Multiplayer trivia online.
Copyright (C) 2026 mOctave

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published
by the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->

<!DOCTYPE html>
<html class="gamewindow">
	<head>
		<%- include("../partials/head"); %>
		<script src="/scripts/utils/timestamp.js"></script>
		<!-- <meta http-equiv="refresh" content="1"/> -->
	</head>
	<body>
		<%- include("../partials/navbar"); %>
		<div class="left-bar">
			<div id="game-details" class="content-box">
			</div>
			<form id="answer-box" class="content-box" action="/api/games/answer/<%- game._id %>" method="POST">
				<input class="answer-bar" name="answer" type="text" placeholder="Answer" required/>
				<input type="submit" value="√"/>
			</form>
		</div>
		<div class="right-bar">
			<%- include("../partials/playerbar") %>
		</div>
	<script>
		window.activeUserData = <%- JSON.stringify(activeUser) %>;
	</script>
	<script src="/scripts/fillers/game-active.js" defer></script>
	</body>
</html>
