<!--
Trivial: Multiplayer trivia online.
Copyright (C) 2026 mOctave

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published
by the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->

<!DOCTYPE html>
<html class="gamewindow">
	<head>
		<%- include("../partials/head"); %>
		<script src="/scripts/utils/timestamp.js"></script>
	</head>
	<body>
		<%- include("../partials/navbar"); %>
		<div class="left-bar">
			<div id="game-details" class="content-box">
				<p><%- game.players[0].name %>'s <%- game.mode %></p>
				<p>Players: <%- game.players.length %></p>
				<p>This game ended 
					<%- new Date(game.timeout).toLocaleDateString("en-CA",
						{year: "numeric", month: "long", day: "numeric", hour: "numeric", minute: "numeric"}
					)%>
				</p>
				<p>Full archive data is not yet supported.</p>
			</div>
		</div>
		<div class="main-container game-container">
			<div id="card-question">This game has finished.</div>
			<div id="card-image"><img src="/img/favicon.svg"></div>
			<div id="card-answer">Congratulations <%- game.winner %>! You won the game.</div>
		</div>
		<div class="right-bar">
			<%- include("../partials/playerbar") %>
		</div>
	<script>
		window.activeUserData = <%- JSON.stringify(activeUser) %>;
	</script>
	</body>
</html>
