<!--
Trivial: Multiplayer trivia online.
Copyright (C) 2026 mOctave

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published
by the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->


<!DOCTYPE html>
<html>
	<head>
		<%- include("../partials/head"); %>
	</head>
	<body>
		<%- include("../partials/navbar"); %>
		<div class="page-wrapper">
			<div class="left-half">
				<h2>Log In</h2>
				<form class="content-box" action="/api/auth/login" method="POST">
					<div class="login-line">
						<label for="name">Username:</label>
						<input class="login-input" name="name" type="text" placeholder="Username" required/>
					</div>
					<% if (locals.errorLoginUsername) { %>
    					<div class="form-desc error-msg"><%- errorLoginUsername %></div>
					<% } %>
					<div class="login-line">
						<label for="password">Password:</label>
						<input class="login-input" name="password" type="password" placeholder="Password" required/>
					</div>
					<% if (locals.errorLoginPassword) { %>
    					<div class="form-desc error-msg"><%- errorLoginPassword %></div>
					<% } %>
					<div class="login-line">
						<input class="login-button" type="submit" value="Log In"/>
					</div>
				</form>
				<%- include("../partials/contribute"); %>
			</div>
			<div class="right-half">
				<h2>Register</h2>
				<form class="content-box" action="/api/auth/register" method="POST">
					<div class="login-line">
						<label for="name">Username:</label>
						<input class="login-input" name="name" type="text" placeholder="Username" required/>
					</div>
					<% if (locals.errorRegisterUsername) { %>
    					<div class="form-desc error-msg"><%- errorRegisterUsername %></div>
					<% } %>
					<div class="login-line">
						<label for="password">Password:</label>
						<input class="login-input" name="password" type="password" placeholder="Password" required/>
					</div>
					<% if (locals.errorRegisterPassword) { %>
    					<div class="form-desc error-msg"><%- errorRegisterPassword %></div>
					<% } %>
					<div class="form-desc">
						<p>Please use a password containing at least 8 characters. Strong passwords contain at least 16 characters and are <a href="https://xkcd.com/936/">easy to remember</a>.</p>
						<p>By registering for Trivial you acknowledge that you have read and understood the <a href="/terms">Terms of Service</a> and <a href="/privacy">Privacy Policy</a> and agree to abide by both.</p>
					</div>
					<div class="login-line">
						<input class="login-button" type="submit" value="Register"/>
					</div>
				</form>
			</div>
		</div>
		<%- include("../partials/copyright"); %>
	</body>
</html>
