<!--
Trivial: Multiplayer trivia online.
Copyright (C) 2026 mOctave

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published
by the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->


<!DOCTYPE html>
<html>
	<head>
		<%- include("../partials/head"); %>
	</head>
	<body>
		<%- include("../partials/navbar"); %>
		<div class="page-wrapper">
			<div class="left-bar">
				<%- include("../partials/userbox"); %>
				<div class="left-overflow">
					<%- include("../partials/leaderboard"); %>
					<%- include("../partials/contribute"); %>
				</div>
			</div>
			<div class="main-container">
				<%- include("../partials/badgebox"); %>
				<div class="content-box">
					<h2><%- targetUser.name %>'s decks</h2>
					<%- include("../partials/deckbox"); %>
				</div>
				<div class="content-box">
					<h2><%- targetUser.name %>'s cards</h2>
					<%- include("../partials/cardbox"); %>
				</div>
			</div>
			<div class="right-bar">
				<%- include("../partials/leaderboard"); %>
				<%- include("../partials/contribute"); %>
			</div>
		</div>
		<%- include("../partials/copyright"); %>
		<%- include("../partials/cardmenu"); %>
	</body>
</html>
